<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yingchuang.dao.Test3Mapper">
    <insert id="addTest3" parameterType="com.yingchuang.entity.Test3">
        INSERT INTO test3 VALUES(NULL,#{question},#{answerA},#{answerB},#{answerC},#{answerD},#{rightAnswer},#{admin.id},0,#{power},#{questionCode})
    </insert>
    <update id="updateStatus" parameterType="com.yingchuang.entity.Test3">
        UPDATE test3 SET status=0 WHERE adminid=#{adminid}
    </update>
    <update id="updatePower" parameterType="com.yingchuang.entity.Test3">
        UPDATE test3 SET power=#{power} where adminid=#{adminid}
    </update>
</mapper>